<div>
    <div class="content-section introduction">
        <div class="feature-intro">
            <h1>Roadmap</h1>
            <p>
                在<a href="https://www.primetek.com.tr/">PrimeTek</a>, 我们对改善PrimeNG充满热情，并愿意与社区分享我们对2023年的想法.
                这些计划将与库的定期维护工作同步进行，
                包括审查 issue tickets, PRs 和 PrimeNG PRO 的支持.这个页面是更新变化的，所以请访问它来了解更多关于接下来要做的事情。
            </p>
        </div>
    </div>

    <div class="content-section">
        <div class="overflow-auto">
            <div style="min-width: 1200px">
                <div class="flex gap-3 mb-3">
                    <div class="flex-shrink-0 w-14rem"></div>
                    <div class="flex-1 bg-bluegray-500 text-white font-bold text-center p-3 text-xl border-round">Q1</div>
                    <div class="flex-1 bg-bluegray-500 text-white font-bold text-center p-3 text-xl border-round">Q2</div>
                    <div class="flex-1 bg-bluegray-500 text-white font-bold text-center p-3 text-xl border-round">Q3</div>
                    <div class="flex-1 bg-bluegray-500 text-white font-bold text-center p-3 text-xl border-round">Q4</div>
                </div>
                <div class="flex flex-column gap-3">
                    <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                        <div class="flex-shrink-0 p-3 bg-blue-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">组件</div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-blue-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">易用性</h2>
                                <p class="mt-0 mb-3 line-height-3">使用PrimeVue作为参考实现，实现符合WCAG AA标准</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-blue-500 border-round" style="width: 0; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-blue-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">无样式模式</h2>
                                <p class="mt-0 mb-3 line-height-3">无样式模式的实现，以支持Tailwind等库.</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-blue-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-blue-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">拖拽工具</h2>
                                <p class="mt-0 mb-3 line-height-3">独立的拖放工具也集成在某些组件中，例如Tree</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-blue-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-blue-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">全日历表</h2>
                                <p class="mt-0 mb-3 line-height-3">新的全日历/调度器组件.</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-blue-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                        <div
                            class="flex-shrink-0 p-3 bg-indigo-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">
                            Figma UI 工具包</div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-indigo-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">Tokens</h2>
                                <p class="mt-0 mb-3 line-height-3">添加Figma令牌支持.</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-indigo-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-bluegray-500"
                                style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">主题生成器</h2>
                                <p class="mt-0 mb-3 line-height-3">创建一个Figma插件，从Figma生成主题.
                                </p>
                                <div class="surface-200 border-round">
                                    <div class="bg-bluegray-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column"></div>
                        <div class="flex-1 flex gap-3 flex-column"></div>
                    </div>
                    <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                        <div class="flex-shrink-0 p-3 bg-teal-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">作品展示</div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-teal-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">案例</h2>
                                <p class="mt-0 mb-3 line-height-3">每个组件特性独立演示，而不是一个演示页面演示多个特性.</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-teal-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                            <div class="p-3 surface-card border-round border-teal-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">文档</h2>
                                <p class="mt-0 mb-3 line-height-3">由TSDoc生成的新组件API文档.</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-teal-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column"></div>
                        <div class="flex-1 flex gap-3 flex-column"></div>
                        <div class="flex-1 flex gap-3 flex-column"></div>
                    </div>
                    <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                        <div
                            class="flex-shrink-0 p-3 bg-orange-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">
                            PrimeBlocks</div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-orange-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">新的 Blocks</h2>
                                <p class="mt-0 mb-3 line-height-3">30+ 新的 UI Blocks.</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-orange-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-orange-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">Blocks 更新</h2>
                                <p class="mt-0 mb-3 line-height-3">更多 UI Blocks.</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-orange-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-orange-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">Blocks 更新</h2>
                                <p class="mt-0 mb-3 line-height-3">更多 UI Blocks.</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-orange-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-orange-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">Blocks 更新</h2>
                                <p class="mt-0 mb-3 line-height-3">更多 UI Blocks.</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-orange-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                        <div
                            class="flex-shrink-0 p-3 bg-pink-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">
                            设计器</div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-pink-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">新的免费主题</h2>
                                <p class="mt-0 mb-3 line-height-3">一个全新的主题带有黑暗模式可供选择.</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-pink-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-pink-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">Figma插件兼容性</h2>
                                <p class="mt-0 mb-3 line-height-3">Figma UI Kit的在线服务，用于从Figma生成主题。</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-pink-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column"></div>
                        <div class="flex-1 flex gap-3 flex-column"></div>
                    </div>
                    <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                        <div class="flex-shrink-0 p-3 bg-purple-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">模板</div>
                        <div class="flex-1 flex gap-3 flex-column">
                            <div class="p-3 surface-card border-round border-purple-500" style="border-left: 6px solid">
                                <h2 class="text-lg font-bold mt-0 mb-2">下一代模板</h2>
                                <p class="mt-0 mb-3 line-height-3">
                                    通过设定<a href="https://www.youtube.com/watch?v=yl2f8KKY204">Apollo</a>更新更多模板到NextGen标准。</p>
                                <div class="surface-200 border-round">
                                    <div class="bg-purple-500 border-round" style="width: 0%; height: 4px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex gap-3 flex-column"></div>
                        <div class="flex-1 flex gap-3 flex-column"></div>
                        <div class="flex-1 flex gap-3 flex-column"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
