<div class="content-section documentation">
    <h1>Theming</h1>
    <p>从各种主题中进行选择或轻松开发自己的主题。</p>

    <h5>架构</h5>
    <img alt="Architecture" src="assets/showcase/images/architecture.jpg" class="architecture-image"/>
    <p class="mt-3">PrimeNG 是一个与设计无关的库，因此与其他 UI 库不同，它不强制执行某种样式，例如material或bootstrap。为了实现这一点，样式被分为core和theme。
        core驻留在 PrimeNG 内部以实现组件的结构,例如定位。而theme实现颜色，内外边距。
    </p>

    <h5>主题</h5>
    <p>PrimeNG 提供各种免费主题和高级主题以及提供应用程序布局的高级模板。 所有免费主题都是使用<a href="https://www.primefaces.org/designer/primeng">主题设计器</a>构建的，
        npm 包带来了主题的 CSS 输出，而 SCSS 作为设计器中的高级功能保留。这意味着免费主题是开源的，并且要使用 SASS 进行定制，需要获得设计器许可证。</p>

    <h5>定制</h5>
    <p>主题的 CSS 与 PrimeNG（MIT）共享相同的许可证，这意味着可以根据您的需要自定义生成CSS，但是如果您的自定义不简单，则应避免这种情况。
        例如，想要更改原色，因为没有变量，所以应该多次执行查找和替换。另一方面，这可以通过更改单个变量来实现，例如 $primaryColor
        访问<a href="https://www.primefaces.org/designer/api/primeng/14.0.0">SASS API</a> 以获取可用自定义选项的文档。</p>

    <p><a href="https://www.primefaces.org/designer/primeng">Designer</a> 是创建您自己的 PrimeNG 体验的终极工具，由基于 SASS 的主题引擎提供支持，该引擎具有 500 多个变量和一个可视化设计器。
        PrimeNG 仅提供生成 <b>Material</b>, <b>Bootstrap</b>, <b>Saga</b>, <b>Vela</b>, <b>Arya</b>, <b>FluentUI</b> 和传统主题的CSS 而 Designer 提供对整个 SASS 结构和这些预构建主题变量的完全访问权限，以便于定制。
        此外，设计师为订阅者提供独家高级主题，包括 <b>Soho</b>, <b>Viva</b>, <b>Mira</b>
    和 <b>Nano</b>这些主题在 PrimeNG 核心发行版中不可用。</p>

    <p>无论您有自己的风格指南还是只需要自定义主题，Designer API 都是设计和实现它们的正确工具。</p>

    <p>访问<a href="https://www.primefaces.org/designer/primeng">Designer API 主页</a> 以获取更多信息和现场演示</p>
    <a href="http://www.primefaces.org/designer/primeng" class="designer-image mb-3">
        <img alt="PrimeNG Designer" src="assets/showcase/images/prime-designer.jpg" style="width: 100%" />
    </a>

    <div class="designer-videos">
        <div class="grid">
            <div class="col-12 md:col-6">
                <div class="fluid-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vXYFR9LZkCk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 md:col-6">
                <div class="fluid-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/i819bmJnCCg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <h5>运行时动态主题</h5>
    <p>主题可以即时切换，以便您的应用程序的用户可以定义自己的体验。 查看 <a href="https://dev.to/primetek/how-to-switch-your-angular-app-between-material-bootstrap-and-custom-themes-at-runtime-5788">文章</a>
        和视频教程了解实现细节。</p>

    <div class="video-container" style="text-align: center;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5VOuUdDXRsE" frameborder="0" allowfullscreen></iframe>
    </div>

    <h5>缩放</h5>
    <p>PrimeNG 利用 rem 单位来确保组件与 UI 的其余部分完美融合。这也支持缩放，例如更改组件的大小就像配置文档的字体大小一样容易。 下面的代码基于 16px 设置组件的比例。如果您需要更大或更小的组件，只需更改此变量，组件就会相应地缩放。</p>

<app-code lang="css" ngNonBindable ngPreserveWhitespaces>
html &#123;
    font-size: 16px;
&#125;
</app-code>

    <p>一些常用的组件，如输入、按钮和数据表格，为每个组件缩放还提供了特殊样式类，具有特定伸缩的组件的选项记录在它们自己的文档中。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;input pInputText type="text" class="p-inputtext-sm" /&gt;
&lt;button pButton label="Button" class="p-button-lg" /&gt;
</app-code>

    <h5>本地样式</h5>
    <p>如果您需要明确更改某个组件的样式，请使用类属性并覆盖默认值，从而全局设置组件的主题样式。下面的示例更改面板的背景。请注意，这仅适用于本地样式，如果您需要更改所有面板的背景颜色，自定义主题是更好的选择。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-panel header="Custom Header" styleClass="dark-panel"/&gt;
</app-code>

<app-code lang="css" ngNonBindable ngPreserveWhitespaces>
.dark-panel.p-panel &#123;
    .p-panel-header &#123;
        background: #212121;
    &#125;
&#125;
</app-code>

    <p>如果由于视图封装而导致样式不适用，请尝试 ng-deep scoping</p>

<app-code lang="css" ngNonBindable ngPreserveWhitespaces>
:host ::ng-deep .dark-panel.p-panel &#123;
    .p-panel-header &#123;
        background: #212121;
    &#125;
&#125;
</app-code>

    <h5>工具样式类</h5>
    <p>提供了几个实用程序类作为常见要求的解决方案</p>

    <div class="doc-tablewrapper">
        <table class="doc-table">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>p-component</td>
                    <td>将诸如 font-family 和 font-size 之类的组件主题应用于元素。</td>
                </tr>
                <tr>
                    <td>p-disabled</td>
                    <td>应用不透明度以显示为禁用。</td>
                </tr>
                <tr>
                    <td>p-sr-only</td>
                    <td>元素在视觉上被隐藏，但可访问性仍然可用。</td>
                </tr>
                <tr>
                    <td>p-reset</td>
                    <td>重置浏览器默认值</td>
                </tr>
                <tr>
                    <td>p-link</td>
                    <td>将按钮呈现为链接</td>
                </tr>
                <tr>
                    <td>p-error</td>
                    <td>指示错误文本</td>
                </tr>
                <tr>
                    <td>p-text-secondary</td>
                    <td>应用具有次要优先级的主题的文本颜色</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
