<div class="content-section documentation">
    <h1>Overlay API</h1>
    <p>这个API允许从<i>PrimeNGConfig</i>控制覆盖层组件。通过这种方式，应用程序中的所有覆盖组件可以具有相同的行为.</p>

    <h5>选项</h5>

    <h6>Mode</h6>
    <p>它有两个有效值; <i>overlay</i> 和 <i>modal</i>. 在 overlay 模式下, 会像叠加面板或下拉面板一样打开一个容器元素.
        在 modal 模式下, 容器元素的行为类似于popup. 这种行为类似于dialog对话框组件.</p>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123; PrimeNGConfig, OverlayOptions &#125; from 'primeng/api';

@Component(&#123;
    selector: 'app-root',
    templateUrl: './app.component.html'
&#125;)
export class AppComponent implements OnInit &#123;

    constructor(private primengConfig: PrimeNGConfig) &#123;&#125;

    ngOnInit() &#123;
        this.primengConfig.overlayOptions: OverlayOptions = &#123;
            mode: 'modal'
        &#125;;
    &#125;

&#125;
</app-code>

    <h6>Responsive</h6>
    <p>它是用来根据给定的<i>media</i>或<i>breakpoint</i>确定它应该以何种模式出现的选项.</p>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123; PrimeNGConfig, OverlayOptions, ResponsiveOverlayDirectionType &#125; from 'primeng/api';

const responsiveOptions: ResponsiveOverlayOptions = &#123;
    // style?: any;                                     // 给定断点或媒体查询中的组件样式
    // styleClass?: string;                             // 给定断点或媒体查询中的组件样式类
    // contentStyle?: any;                              // 给定断点或媒体查询中的内容样式
    // contentStyleClass?: string;                      // 给定断点或媒体查询中的内容样式类
    // breakpoint?: string;                             // 模态模式下显示组件所需的断点。Exp: ` 640px `， ` 10rem `等。.
    // media?: string;                                  // 模态模式下显示组件所需的媒体查询. Exp: '@media screen and (max-width: 640px)', '@media screen and (min-width: 640px) and (max-width: 900px)' 等.
    // direction?: ResponsiveOverlayDirectionType;      // 组件在模态模式下显示的方向.
&#125;

this.primengConfig.overlayOptions: OverlayOptions = &#123;
    responsive: responsiveOptions
&#125;;
</app-code>

    <p> <i>direction</i>属性的有效值:</p>
    <ul>
        <li>center (默认值)</li>
        <li>top</li>
        <li>top-start</li>
        <li>top-end</li>
        <li>bottom</li>
        <li>bottom-start</li>
        <li>bottom-end</li>
        <li>left</li>
        <li>left-start</li>
        <li>left-end</li>
        <li>right</li>
        <li>right-start</li>
        <li>right-end</li>
    </ul>

    <h6>AppendTo</h6>
    <p>使用这个选项，覆盖层可以挂载到它的location, body 或DOM元素实例中.</p>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123; PrimeNGConfig, OverlayOptions &#125; from 'primeng/api';

this.primengConfig.overlayOptions: OverlayOptions = &#123;
    appendTo: 'body'
&#125;;
</app-code>

    <h6>Target</h6>
    <p><i>target</i>用于检测那些相对覆盖层被定位的元素。有效值是;</p>
    <ul>
        <li>@prev (默认值)</li>
        <li>@next</li>
        <li>@parent</li>
        <li>@grandparent</li>
        <li>使用 <em>CSS 选择器</em></li>
        <li>使用 <em>() => HTMLElement</em></li>
    </ul>

    <h6>Style and StyleClass</h6>
    <p><i>style</i>和<i>styleClass</i>用于定义将添加到所有覆盖层组件的样式。此外，它可以用于<i>contentStyle</i>和<i>contentStyleClass</i>类</p>

    <h6>AutoZIndex</h6>
    <p><i>autoZIndex</i>决定是否自动管理分层。其默认值为`false`.</p>

    <h6>BaseZIndex</h6>
    <p><i>baseZIndex</i> 是在分层中使用的基础zIndex值。默认值为0.</p>

    <h6>ShowTransitionOptions and HideTransitionOptions</h6>
    <p>显示或隐藏动画的过渡选项。<i>showTransitionOptions</i>的默认值是`.12s cubic-bezier(0,0,0.2, 1)`并且<i>hideTransitionOptions</i>的默认值是`.1s linear`.</p>

    <h6>事件</h6>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123; PrimeNGConfig, OverlayOptions, OverlayOnBeforeShowEvent, OverlayOnShowEvent, OverlayOnBeforeHideEvent, OverlayOnHideEvent &#125; from 'primeng/api';
import &#123; AnimationEvent &#125; from '@angular/animations';

this.primengConfig.overlayOptions: OverlayOptions = &#123;
    onBeforeShow: (event?: OverlayOnBeforeShowEvent) => &#123;&#125;;    // 在覆盖层显示之前调用的回调函数.
    onShow: (event?: OverlayOnShowEvent) => &#123;&#125;;                // 当覆盖层显示时调用的回调函数.
    onBeforeHide: (event?: OverlayOnBeforeHideEvent) => &#123;&#125;;    // 在覆盖层被隐藏之前调用的回调函数.
    onHide: (event?: OverlayOnHideEvent) => &#123;&#125;;                // 当覆盖层被隐藏时调用的回调函数.
    onAnimationStart: (event?: AnimationEvent) => &#123;&#125;;          // 在动画开始时调用的回调函数.
    onAnimationDone: (event?: AnimationEvent) => &#123;&#125;;           // 当动画完成时调用的回调函数.
&#125;;
</app-code>

    <h5>组件</h5>
    <p><i>p-overlay</i> 是一个在Overlay窗口中显示内容的容器。上面提到的所有选项都可以用作此组件的props.</p>

    <div class="flex justify-content-center border-blue-500 border-dashed border-round p-5 card-demo">
        <button (click)="toggle()">显示 Overlay</button>
        <p-overlay [(visible)]="overlayVisible" [responsive]="{ breakpoint: '640px', direction: 'bottom', contentStyleClass: 'h-20rem' }" contentStyleClass="p-4 surface-overlay shadow-2 border-round">
            Content
        </p-overlay>
    </div>

    <h6 class="mt-3">导入</h6>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123; OverlayModule &#125; from 'primeng/overlay';
</app-code>

    <h6>准备开始</h6>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;button (click)="toggle()"&gt;显示 Overlay&lt;/button&gt;
&lt;p-overlay [(visible)]="overlayVisible" [responsive]="&#123; breakpoint: '640px', direction: 'bottom', contentStyleClass: 'h-20rem' &#125;" contentStyleClass="p-4 surface-overlay shadow-2 border-round"&gt;
    Content
&lt;/p-overlay&gt;
</app-code>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123; Component &#125; from '@angular/core';

@Component(&#123;
    templateUrl: './overlaydemo.html'
&#125;)
export class OverlayDemo &#123;
    overlayVisible: boolean = false;

    toggle() &#123;
        this.overlayVisible = !this.overlayVisible;
    &#125;
&#125;
</app-code>

    <h6>模板</h6>
    <p>可以使用<i>content</i>模板自定义内容.</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;button (click)="toggle()"&gt;Show Overlay&lt;/button&gt;
&lt;p-overlay [(visible)]="overlayVisible" [responsive]="&#123; breakpoint: '640px', direction: 'bottom', contentStyleClass: 'h-20rem' &#125;" contentStyleClass="p-4 surface-overlay shadow-2 border-round"&gt;
    &lt;ng-template pTemplate="content" let-option&gt;
        Content - &#123;&#123;option.mode&#125;&#125;
    &lt;/ng-template&gt;
&lt;/p-overlay&gt;
</app-code>
</div>
