<div class="content-section introduction">
    <div class="feature-intro">
        <h1>AutoComplete</h1>
        <p>AutoComplete是一个输入组件，在输入时提供实时建议。</p>
    </div>
    <app-demoActions github="autocomplete" stackblitz="autocomplete-demo"></app-demoActions>
</div>

<div class="content-section implementation">
    <div class="card">
        <h5>基本</h5>
        <p-autoComplete [(ngModel)]="selectedCountry" [showEmptyMessage]="true" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [minLength]="1"></p-autoComplete>

        <h5>下拉和模板</h5>
        <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
            <ng-template let-country pTemplate="item">
                <div class="country-item">
                    <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
                    <div>{{country.name}}</div>
                </div>
            </ng-template>
        </p-autoComplete>

        <h5>分组</h5>
        <p-autoComplete [(ngModel)]="selectedCity" [group]="true" [suggestions]="filteredGroups" (completeMethod)="filterGroupedCity($event)" field="label" [dropdown]="true">
            <ng-template let-group pTemplate="group">
                <div class="flex align-items-center">
                    <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px"/>
                    <span>{{group.label}}</span>
                </div>
            </ng-template>
        </p-autoComplete>

        <h5>虚拟滚动 (10000 条)</h5>
        <p-autoComplete [(ngModel)]="selectedItem" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" field="label" [dropdown]="true">
        </p-autoComplete>

        <h5>多个</h5>
        <span class="p-fluid">
            <p-autoComplete [(ngModel)]="selectedCountries" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [multiple]="true">
            </p-autoComplete>
        </span>
    </div>
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="文档">
            <h5>引入</h5>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;AutoCompleteModule&#125; from 'primeng/autocomplete';
</app-code>

            <h5>准备开始</h5>
            <p>AutoComplete使用ngModel进行双向绑定，需要一个建议列表和一个completeMethod来查询结果。completeMethod可以通过event.query属性获取查询文本，并且应使用搜索结果更新建议列表。</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"&gt;&lt;/p-autoComplete&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class AutoCompleteDemo &#123;

    text: string;

    results: string[];

    search(event) &#123;
        this.mylookupservice.getResults(event.query).then(data => &#123;
            this.results = data;
        &#125;);
    &#125;

&#125;
</app-code>

            <h5>变更检测的建议</h5>
            <p>AutoComplete使用基于setter的检查来实现，如果suggestions已更改从而更新UI。 为了让它起作用, 你的更改(比如添加或删除记录)应该总是创建一个新的数组引用，而不是操作一个现有的数组，
                因为如果引用没有改变，Angular不会触发setter
            </p>

            <p>注意的是：如果搜索后没有可用的suggestions，则提供一个空数组而不是null值。</p>

            <h5>响应式表单</h5>
            <p>AutoComplete也可以在响应式表单中使用.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-autoComplete formControlName="city" [suggestions]="results" (completeMethod)="search($event)"&gt;&lt;/p-autoComplete&gt;
</app-code>

            <h5>下拉框</h5>
            <p>启用 <i>dropdown</i> 属性性将在输入字段旁边显示一个按钮，其中按钮的点击行为是使用dropdownMode属性定义的，该属性将“blank”或“current”作为可能的值。
                "blank"是默认模式，发送带有空字符串来查询，而"current" 设置则发送带有输入当前值的查询。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"
            [dropdown]="true"&gt;&lt;/p-autoComplete&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class AutoCompleteDemo &#123;

    text: string;

    results: string[];

    search(event) &#123;
        this.mylookupservice.getResults(event.query).then(data => &#123;
            this.results = data;
        &#125;);
    &#125;

    handleDropdown(event) &#123;
        //event.query = 当前输入框中的值
    &#125;

&#125;
</app-code>

            <h5>多选</h5>
            <p>多模式通过启用<i>multiple</i> 属性来从autocomplete选择多个值。在这种情况下，value引用应该是一个数组。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-autoComplete [(ngModel)]="texts" [suggestions]="results" (completeMethod)="search($event)" [multiple]="true"&gt;&lt;/p-autoComplete&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class AutoCompleteDemo &#123;

    texts: string[];

    results: string[];

    search(event) &#123;
        this.mylookupservice.getResults(event.query).then(data => &#123;
            this.results = data;
        &#125;);
    &#125;

&#125;
</app-code>

            <h5>对象</h5>
            <p>AutoComplete还可以使用<i>field</i>属性处理对象，该属性将定义标签为suggestion显示。传递给模型的值仍然是suggestion的对象实例。
                下面是一个Country对象的示例，该对象具有name和code字段，例如：&#123;name:"United States",code:"USA"&#125;</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-autoComplete [(ngModel)]="val" [suggestions]="results" (completeMethod)="search($event)" field="name"&gt;&lt;/p-autoComplete&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class AutoCompleteDemo &#123;

    val: country;

    results: country[];

    search(event) &#123;
        this.countrylookupservice.getResults(event.query).then(data => &#123;
            this.results = data;
        &#125;);
    &#125;

&#125;
</app-code>

            <h5>强制选择</h5>
            <p>ForceSelection模式验证手动输入，以检查它是否也存在于建议列表中，如果不存在，则清除输入值，以确保传递给模型的值始终是建议列表中的。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-autoComplete [(ngModel)]="val" [suggestions]="results" (completeMethod)="search($event)" [forceSelection]="true"&gt;&lt;/p-autoComplete&gt;
</app-code>

            <h5>模板</h5>
            <p>带有pTemplate="item"的ng-template允许在建议面板中显示自定义内容。ng-template上的本地变量为suggestions集合中的一个对象</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-autoComplete [(ngModel)]="brand" [suggestions]="filteredBrands" (completeMethod)="filterBrands($event)"&gt;
    &lt;ng-template let-brand pTemplate="item"&gt;
            &lt;img src="assets/showcase/images/demo/car/&#123;&#123;brand&#125;&#125;.png" style="width:32px;display:inline-block;margin:5px 0 2px 5px"/&gt;
            &lt;div style="font-size:18px;float:right;margin:10px 10px 0 0"&gt;&#123;&#123;brand&#125;&#125;&lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-autoComplete&gt;
</app-code>

            <p>在多选模式中，所选项目可以使用带有pTemplate="selectedItem"的 ng-template自定义. 注意，该模板在单一选择模式下不受支持。
                此外，在启用分组时，pTemplate="group"模板来自定义组选项。 所有的模板类型，都是通过本地变量的形式获取选项值.</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-autoComplete [(ngModel)]="texts" [suggestions]="results" (completeMethod)="search($event)" [multiple]="true"&gt;
    &lt;ng-template let-value pTemplate="selectedItem"&gt;
        &lt;span style="font-size:18px"&gt;&gt;&#123;&#123;value&#125;&#125;&lt;&lt;/span&gt;
    &lt;/ng-template&gt;
&lt;/p-autoComplete&gt;
</app-code>

            <h5>动画配置</h5>
            <p>打开和隐藏动画的转换可以使用showTransitionOptions和hideTransitionOptions属性进行定制，下面的例子将完全禁用动画。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-autoComplete [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" [(ngModel)]="texts" [suggestions]="results" (completeMethod)="search($event)"&gt;&lt;/p-autoComplete&gt;
</app-code>

            <h5>属性</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>类型</th>
                            <th>默认值</th>
                            <th>描述</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>suggestions</td>
                            <td>array</td>
                            <td>null</td>
                            <td>要显示的建议数组。</td>
                        </tr>
                        <tr>
                            <td>field</td>
                            <td>any</td>
                            <td>null</td>
                            <td>要解析和显示的建议对象的字段。</td>
                        </tr>
                        <tr>
                            <td>scrollHeight</td>
                            <td>string</td>
                            <td>200px</td>
                            <td>建议面板的最大高度.</td>
                        </tr>
                        <tr>
                            <td>dropdown</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>启用时，在输入字段旁边显示一个按钮.</td>
                        </tr>
                        <tr>
                            <td>multiple</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>指定是否可以选择多个值.</td>
                        </tr>
                        <tr>
                            <td>dropdownIcon</td>
                            <td>string</td>
                            <td>pi pi-chevron-down</td>
                            <td>下拉图标的图标类.</td>
                        </tr>
                        <tr>
                            <td>minLength</td>
                            <td>number</td>
                            <td>1</td>
                            <td>启动搜索的最小字符数.</td>
                        </tr>
                        <tr>
                            <td>delay</td>
                            <td>number</td>
                            <td>300</td>
                            <td>在发送查询之前等待的击键之间的延迟.</td>
                        </tr>
                        <tr>
                            <td>completeOnFocus</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>当输入收到焦点时是否运行查询.</td>
                        </tr>
                        <tr>
                            <td>style</td>
                            <td>string</td>
                            <td>null</td>
                            <td>组件的内联样式.</td>
                        </tr>
                        <tr>
                            <td>inputStyle</td>
                            <td>string</td>
                            <td>null</td>
                            <td>输入字段的内联样式.</td>
                        </tr>
                        <tr>
                            <td>panelStyle</td>
                            <td>string</td>
                            <td>null</td>
                            <td>叠加面板元素的内联样式.</td>
                        </tr>
                        <tr>
                            <td>styleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>组件的样式类.</td>
                        </tr>
                        <tr>
                            <td>inputStyleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>输入字段的内联样式.</td>
                        </tr>
                        <tr>
                            <td>panelStyleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>叠加面板元素的样式类.</td>
                        </tr>
                        <tr>
                            <td>inputId</td>
                            <td>string</td>
                            <td>null</td>
                            <td>焦点输入的标识符，以匹配为组件定义的标签.</td>
                        </tr>
                        <tr>
                            <td>name</td>
                            <td>string</td>
                            <td>null</td>
                            <td>输入元素的名称.</td>
                        </tr>
                        <tr>
                            <td>optionGroupLabel</td>
                            <td>string</td>
                            <td>label</td>
                            <td>选项组标签字段的名称.</td>
                        </tr>
                        <tr>
                            <td>group</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>当提供嵌套选项时，是否分组显示选项.</td>
                        </tr>
                        <tr>
                            <td>optionGroupChildren</td>
                            <td>string</td>
                            <td>items</td>
                            <td>选项组的选项字段名称.</td>
                        </tr>
                        <tr>
                            <td>placeholder</td>
                            <td>string</td>
                            <td>null</td>
                            <td>输入字段的提示文本.</td>
                        </tr>
                        <tr>
                            <td>readonly</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>当出现时，它指定输入不能被键入.</td>
                        </tr>
                        <tr>
                            <td>disabled</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>当出现时，它指定应该禁用该组件.</td>
                        </tr>
                        <tr>
                            <td>maxlength</td>
                            <td>number</td>
                            <td>null</td>
                            <td>输入字段允许的最大字符数.</td>
                        </tr>
                        <tr>
                            <td>size</td>
                            <td>number</td>
                            <td>null</td>
                            <td>输入字段的大小.</td>
                        </tr>
                        <tr>
                            <td>appendTo</td>
                            <td>any</td>
                            <td>null</td>
                            <td>附加覆盖的目标元素，有效值为“body”或另一个元素的ng-template本地变量 (注意:对模板变量使用带括号的绑定，例如，对于变量名为#mydiv的div元素，[appendTo]="mydiv").</td>
                        </tr>
                        <tr>
                            <td>tabindex</td>
                            <td>number</td>
                            <td>null</td>
                            <td>元素按制表顺序的索引.</td>
                        </tr>
                        <tr>
                            <td>dataKey</td>
                            <td>string</td>
                            <td>null</td>
                            <td>用于唯一标识选项中的值的属性.</td>
                        </tr>
                        <tr>
                            <td>autoHighlight</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>启用时，默认情况下突出显示列表中的第一项.</td>
                        </tr>
                        <tr>
                            <td>type</td>
                            <td>string</td>
                            <td>text</td>
                            <td>输入类型，默认为"text".</td>
                        </tr>

                        <tr>
                            <td>showEmptyMessage</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>是否显示空消息.</td>
                        </tr>
                        <tr>
                            <td>emptyMessage</td>
                            <td>string</td>
                            <td>No results found</td>
                            <td>当没有数据时显示的文本。默认为i18n转换配置中的全局值。.</td>
                        </tr>
                        <tr>
                            <td>immutable</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>定义如何操作建议。更多信息可以在上面的“变更检测”部分中找到.</td>
                        </tr>
                        <tr>
                            <td>required</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>当存在时，它指定在提交表单之前必须填写输入字段.</td>
                        </tr>
                        <tr>
                            <td>autofocus</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>当它出现时，它指定组件加载时应该自动获取焦点.</td>
                        </tr>
                        <tr>
                            <td>forceSelection</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>出现时，如果手动输入与建议不匹配，自动完成将清除手动输入，强制只接受建议中的值.</td>
                        </tr>
                        <tr>
                            <td>dropdownMode</td>
                            <td>string</td>
                            <td>blank</td>
                            <td>指定行为下拉按钮。默认的"blank"模式发送空字符串，"current"模式发送输入值.</td>
                        </tr>
                        <tr>
                            <td>baseZIndex</td>
                            <td>number</td>
                            <td>0</td>
                            <td>基础zIndex值用于分层.</td>
                        </tr>
                        <tr>
                            <td>autoZIndex</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>是否自动管理分层.</td>
                        </tr>
                        <tr>
                            <td>showTransitionOptions</td>
                            <td>string</td>
                            <td>.12s cubic-bezier(0, 0, 0.2, 1)</td>
                            <td>显示动画的过渡选项.</td>
                        </tr>
                        <tr>
                            <td>hideTransitionOptions</td>
                            <td>string</td>
                            <td>.1s linear</td>
                            <td>隐藏动画的过渡选项.</td>
                        </tr>
                        <tr>
                            <td>ariaLabel</td>
                            <td>string</td>
                            <td>null</td>
                            <td>定义一个字符串，用于标记输入的可访问性.</td>
                        </tr>
                        <tr>
                            <td>ariaLabelledBy</td>
                            <td>string</td>
                            <td>null</td>
                            <td>在标记输入字段的DOM中指定一个或多个id.</td>
                        </tr>
                        <tr>
                            <td>dropdownAriaLabel</td>
                            <td>string</td>
                            <td>null</td>
                            <td>定义一个字符串，为可访问性标记下拉按钮.</td>
                        </tr>
                        <tr>
                            <td>unique</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>确保所选项目在多种模式下的唯一性.</td>
                        </tr>
                        <tr>
                            <td>autocomplete</td>
                            <td>string</td>
                            <td>null</td>
                            <td>用于定义自动完成当前元素属性的字符串.</td>
                        </tr>
                        <tr>
                            <td>showClear</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>启用后，将显示清除图标以清除该值.</td>
                        </tr>
                        <tr>
                            <td>virtualScroll</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>在滚动期间是否应按需加载数据.</td>
                        </tr>
                        <tr>
                            <td>virtualScrollItemSize</td>
                            <td>number</td>
                            <td>null</td>
                            <td>VirtualScrolling列表中项目的高度.</td>
                        </tr>
                        <tr>
                            <td>virtualScrollOptions</td>
                            <td>ScrollerOptions</td>
                            <td>null</td>
                            <td>是否使用滚动屏特性. <a href="#" [routerLink]="['/scroller']">滚动</a>组件的属性可以像一个对象一样在其中使用</td>
                        </tr>
                        <tr>
                            <td>lazy</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>定义是否以惰性方式加载和交互数据.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>事件</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>参数</th>
                            <th>描述</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>completeMethod</td>
                            <td>
                                event.originalEvent: 浏览器事件 <br>
                                event.query: 查询的值
                            </td>
                            <td>为搜索建议而调用的回调.</td>
                        </tr>
                        <tr>
                            <td>onFocus</td>
                            <td>event: 浏览器事件</td>
                            <td>当自动补全获得焦点时调用的回调.</td>
                        </tr>
                        <tr>
                            <td>onBlur</td>
                            <td>event: 浏览器事件</td>
                            <td>当自动补全失去焦点时调用的回调.</td>
                        </tr>
                        <tr>
                            <td>onKeyUp</td>
                            <td>event: 浏览器事件</td>
                            <td>当用户释放按键时调用的回调函数.</td>
                        </tr>
                        <tr>
                            <td>onSelect</td>
                            <td>
                                value:选中的值
                            </td>
                            <td>在选择建议时调用的回调函数.</td>
                        </tr>
                        <tr>
                            <td>onUnselect</td>
                            <td>
                                value: 多选模式下未选择的值
                            </td>
                            <td>当移除选定值时调用的回调函数.</td>
                        </tr>
                        <tr>
                            <td>onDropdownClick</td>
                            <td>
                                event.originalEvent: 浏览器事件 <br>
                                event.query: 当前input中的值
                            </td>
                            <td>当单击下拉按钮时调用的回调.</td>
                        </tr>
                        <tr>
                            <td>onClear</td>
                            <td>-</td>
                            <td>当输入字段被清除时调用的回调.</td>
                        </tr>
                        <tr>
                            <td>onShow</td>
                            <td>event: 动画事件</td>
                            <td>当自动完成覆盖可见时调用的回调.</td>
                        </tr>
                        <tr>
                            <td>onHide</td>
                            <td>-</td>
                            <td>当自动完成覆盖被隐藏时调用的回调.</td>
                        </tr>
                        <tr>
                            <td>onLazyLoad</td>
                            <td>event.first: 要加载的新数据范围的第一个索引.<br/>
                                event.last: 要加载的新数据范围的最后一个索引.
                            </td>
                            <td>以延迟模式调用以加载新数据的回调</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>模板</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>参数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>item</td>
                            <td>$implicit:选项值 <br />
                                index: 选项下标</td>
                        </tr>
                        <tr>
                            <td>group</td>
                            <td>$implicit: 组选项</td>
                        </tr>
                        <tr>
                            <td>selectedItem</td>
                            <td>$implicit: 选中值</td>
                        </tr>
                        <tr>
                            <td>header</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>footer</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>loader</td>
                            <td>options: 加载时滚动选项. *此模板可以与virtualScroll一起使用。</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>样式</h5>
            <p>下面是结构样式类列表，主题化类请访问<a href="#" [routerLink]="['/theming']">主题化页面</a>。</p>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>元素</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>p-autocomplete</td>
                            <td>容器元素</td>
                        </tr>
                        <tr>
                            <td>p-autocomplete-panel</td>
                            <td>建议覆盖面板</td>
                        </tr>
                        <tr>
                            <td>p-autocomplete-items</td>
                            <td>建议列表容器</td>
                        </tr>
                        <tr>
                            <td>p-autocomplete-item</td>
                            <td>建议列表项.</td>
                        </tr>
                        <tr>
                            <td>p-autocomplete-token</td>
                            <td>多个模式下选定项的元素.</td>
                        </tr>
                        <tr>
                            <td>p-autocomplete-token-icon</td>
                            <td>在多个模式下关闭选定项目的图标元素.</td>
                        </tr>
                        <tr>
                            <td>p-autocomplete-token-label</td>
                            <td>多个模式下选择项的标签.</td>
                        </tr>
                        <tr>
                            <td>p-autocomplete-loader</td>
                            <td>加载图标.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>依赖</h5>
            <p>无.</p>
        </p-tabPanel>

        <p-tabPanel header="案例代码">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/autocomplete" class="btn-viewsource" target="_blank">
                <span>GitHub中访问</span>
            </a>
            <a href="https://stackblitz.com/edit/primeng-autocomplete-demo" class="btn-viewsource" style="margin-left: .5em;" target="_blank">
                <span>StackBlitz中编辑</span>
            </a>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;div class="card"&gt;
    &lt;h5&gt;基本&lt;/h5&gt;
    &lt;p-autoComplete [(ngModel)]="selectedCountry" [showEmptyMessage]="true" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [minLength]="1"&gt;&lt;/p-autoComplete&gt;

    &lt;h5&gt;下拉和模板&lt;/h5&gt;
    &lt;p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true"&gt;
        &lt;ng-template let-country pTemplate="item"&gt;
            &lt;div class="country-item"&gt;
                &lt;img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /&gt;
                &lt;div&gt;&#123;&#123;country.name&#125;&#125;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/ng-template&gt;
    &lt;/p-autoComplete&gt;

    &lt;h5&gt;分组&lt;/h5&gt;
    &lt;p-autoComplete [(ngModel)]="selectedCity" [group]="true" [suggestions]="filteredGroups" (completeMethod)="filterGroupedCity($event)" field="label" [dropdown]="true"&gt;
        &lt;ng-template let-group pTemplate="group"&gt;
            &lt;div class="flex align-items-center"&gt;
                &lt;img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px"/&gt;
                &lt;span&gt;&#123;&#123;group.label&#125;&#125;&lt;/span&gt;
            &lt;/div&gt;
        &lt;/ng-template&gt;
    &lt;/p-autoComplete&gt;

    &lt;h5&gt;虚拟滚动 (10000 条)&lt;/h5&gt;
    &lt;p-autoComplete [(ngModel)]="selectedItem" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" field="label" [dropdown]="true"&gt;
    &lt;/p-autoComplete&gt;

    &lt;h5&gt;多个&lt;/h5&gt;
    &lt;span class="p-fluid"&gt;
        &lt;p-autoComplete [(ngModel)]="selectedCountries" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [multiple]="true"&gt;
        &lt;/p-autoComplete&gt;
    &lt;/span&gt;
&lt;/div&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class AutoCompleteDemo &#123;

    selectedCountry: any;

    selectedCity: any;

    selectedItem: any;

    countries: any[];

    items: any[];

    filteredCountries: any[];

    filteredItems: any[];

    selectedCountries: any[];

    selectedCountryAdvanced: any[];

    filteredBrands: any[];

    groupedCities: SelectItemGroup[];

    filteredGroups: any[];

    constructor(private countryService: CountryService, private filterService: FilterService) &#123; &#125;

    ngOnInit() &#123;
        this.countryService.getCountries().then(countries =&gt; &#123;
            this.countries = countries;
        &#125;);

        this.groupedCities = [
            &#123;
                label: 'Germany', value: 'de',
                items: [
                    &#123;label: 'Berlin', value: 'Berlin'&#125;,
                    &#123;label: 'Frankfurt', value: 'Frankfurt'&#125;,
                    &#123;label: 'Hamburg', value: 'Hamburg'&#125;,
                    &#123;label: 'Munich', value: 'Munich'&#125;
                ]
            &#125;,
            &#123;
                label: 'USA', value: 'us',
                items: [
                    &#123;label: 'Chicago', value: 'Chicago'&#125;,
                    &#123;label: 'Los Angeles', value: 'Los Angeles'&#125;,
                    &#123;label: 'New York', value: 'New York'&#125;,
                    &#123;label: 'San Francisco', value: 'San Francisco'&#125;
                ]
            &#125;,
            &#123;
                label: 'Japan', value: 'jp',
                items: [
                    &#123;label: 'Kyoto', value: 'Kyoto'&#125;,
                    &#123;label: 'Osaka', value: 'Osaka'&#125;,
                    &#123;label: 'Tokyo', value: 'Tokyo'&#125;,
                    &#123;label: 'Yokohama', value: 'Yokohama'&#125;
                ]
            &#125;
        ];

        this.items = [];
        for (let i = 0; i &lt; 10000; i++) &#123;
            this.items.push(&#123;label: 'Item ' + i, value: 'Item ' + i&#125;);
        &#125;
    &#125;

    filterCountry(event) &#123;
        //在一个实际的应用程序中，使用查询向远程url发出请求并返回过滤后的结果，用于演示我们在客户端进行过滤
        let filtered : any[] = [];
        let query = event.query;

        for(let i = 0; i &lt; this.countries.length; i++) &#123;
            let country = this.countries[i];
            if (country.name.toLowerCase().indexOf(query.toLowerCase()) == 0) &#123;
                filtered.push(country);
            &#125;
        &#125;

        this.filteredCountries = filtered;
    &#125;

    filterItems(event) &#123;
        //在一个实际的应用程序中，使用查询向远程url发出请求并返回过滤后的结果，用于演示我们在客户端进行过滤
        let filtered : any[] = [];
        let query = event.query;

        for(let i = 0; i &lt; this.items.length; i++) &#123;
            let item = this.items[i];
            if (item.label.toLowerCase().indexOf(query.toLowerCase()) == 0) &#123;
                filtered.push(item);
            &#125;
        &#125;

        this.filteredItems = filtered;
    &#125;

    filterGroupedCity(event) &#123;
        let query = event.query;
        let filteredGroups = [];

        for (let optgroup of this.groupedCities) &#123;
            let filteredSubOptions = this.filterService.filter(optgroup.items, ['label'], query, "contains");
            if (filteredSubOptions && filteredSubOptions.length) &#123;
                filteredGroups.push(&#123;
                    label: optgroup.label,
                    value: optgroup.value,
                    items: filteredSubOptions
                &#125;);
            &#125;
        &#125;

        this.filteredGroups = filteredGroups;
    &#125;
&#125;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
@Injectable()
export class CountryService &#123;

    constructor(private http: Http) &#123;&#125;

    getCountries() &#123;
        return this.http.get('showcase/resources/data/countries.json')
                    .toPromise()
                    .then(res => &lt;any[]&gt; res.json().data)
                    .then(data => &#123; return data; &#125;);
    &#125;
&#125;
</app-code>
        </p-tabPanel>
        <p-tabPanel header="StackBlitz">
            <ng-template pTemplate="content">
                <iframe src="https://stackblitz.com/edit/primeng-autocomplete-demo?embed=1" style="width: 100%; height: 768px; border: none;"></iframe>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>
