<div class="content-section introduction">
    <div class="feature-intro">
        <h1>Editor</h1>
        <p>Editor 是基于 Quill 的富文本编辑器组件。</p>
    </div>
    <app-demoActions github="editor"></app-demoActions>
</div>

<div class="content-section implementation">
    <div class="card">
        <h5>默认</h5>
        <p-editor [(ngModel)]="text1" [style]="{'height':'320px'}"></p-editor>

        <h5>自定义 Toolbar</h5>
        <p-editor [(ngModel)]="text2" [style]="{'height':'320px'}">
            <ng-template pTemplate="header">
                <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                </span>
            </ng-template>
        </p-editor>
    </div>
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="文档">
            <h5>导入</h5>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;EditorModule&#125; from 'primeng/editor';
</app-code>

            <h5>开始使用</h5>
            <p>双向值绑定是用 ngModel 定义的。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-editor [(ngModel)]="text" [style]="&#123;'height':'320px'&#125;"&gt;&lt;/p-editor&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class EditorDemo &#123;

    text: string;

&#125;
</app-code>

            <h5>模型驱动表单</h5>
            <p>编辑器也可以用于模型驱动表单。</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-editor formControlName="description" [style]="&#123;'height':'320px'&#125;"&gt;&lt;/p-editor&gt;
</app-code>

            <h5>工具栏</h5>
            <p>编辑器提供了一个默认工具栏和常用选项，要自定义它，可以在头元素中定义元素。有关可用的控件，请参阅<a href="http://quilljs.com/docs/modules/toolbar/">Quill文档</a></p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-editor [(ngModel)]="text2" [style]="&#123;'height':'320px'&#125;"&gt;
    &lt;ng-template pTemplate="header"&gt;
        &lt;span class="ql-format-group"&gt;
            &lt;span title="Bold" class="ql-format-button ql-bold"&gt;&lt;/span&gt;
            &lt;span class="ql-format-separator"&gt;&lt;/span&gt;
            &lt;span title="Italic" class="ql-format-button ql-italic"&gt;&lt;/span&gt;
            &lt;span class="ql-format-separator"&gt;&lt;/span&gt;
            &lt;span title="Underline" class="ql-format-button ql-underline"&gt;&lt;/span&gt;
            &lt;span class="ql-format-separator"&gt;&lt;/span&gt;
            &lt;span title="Strikethrough" class="ql-format-button ql-strike"&gt;&lt;/span&gt;
        &lt;/span&gt;
    &lt;/ng-template&gt;
&lt;/p-editor&gt;
</app-code>

            <h5>属性</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>类型</th>
                            <th>默认值</th>
                            <th>说明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>style</td>
                            <td>string</td>
                            <td>null</td>
                            <td>容器的内联样式。</td>
                        </tr>
                        <tr>
                            <td>styleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>容器的样式类</td>
                        </tr>
                        <tr>
                            <td>placeholder</td>
                            <td>string</td>
                            <td>null</td>
                            <td>当编辑器为空时显示的占位符文本。</td>
                        </tr>
                        <tr>
                            <td>readonly</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>是否将编辑器实例设置为只读模式。</td>
                        </tr>
                        <tr>
                            <td>formats</td>
                            <td>string[]</td>
                            <td>null</td>
                            <td>要显示格式的白名单，请参阅<a href="http://quilljs.com/docs/formats/">此处</a>了解可用选项</td>
                        </tr>
                        <tr>
                            <td>modules</td>
                            <td>any</td>
                            <td>null</td>
                            <td>编辑器的模块配置，请参阅<a href="https://quilljs.com/docs/modules/">此处</a>了解可用选项</td>
                        </tr>
                        <tr>
                            <td>debug</td>
                            <td>string</td>
                            <td>null</td>
                            <td>调试的快捷方式。注意 debug 是一种静态方法，会影响页面上其他 Quill 编辑器实例。默认情况下仅启用警告和错误信息。</td>
                        </tr>
                        <tr>
                            <td>bounds</td>
                            <td>Element</td>
                            <td>document.body</td>
                            <td>DOM 元素或 DOM 元素的 CSS 选择器，应将编辑器的 p 元素（即工具提示等）限制在其中。目前，它只考虑左右边界</td>
                        </tr>
                        <tr>
                            <td>scrollingContainer</td>
                            <td>Element</td>
                            <td>null</td>
                            <td>DOM 元素或 DOM 元素的 CSS 选择器，如果使用自定义 CSS 的默认 ql-editor 更改要指定哪个容器具有滚动条（即 overflow-y: auto）。
                                当 Quill 设置为自动增加其高度时，需要修复滚动跳跃错误，并且另一个祖先容器负责滚动..</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>事件</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>参数</th>
                            <th>说明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>onTextChange</td>
                            <td>event.delta: 变更的表示<br>
                                event.source: 变更的来源. 可能是 "user" 或者"api".<br>
                                event.htmlValue: 当前值为 html<br>
                                event.textValue: 当前值为 text<br></td>
                            <td>当用户更改编辑器的文本时调用的回调。</td>
                        </tr>
                        <tr>
                            <td>onSelectionChange</td>
                            <td>event.range:具有索引和长度键的对象，指示选择存在的位置。<br>
                                event.oldRange: 具有索引和长度键的对象，指示先前选择的位置。<br>
                                event.source: 变更的来源. 可能是 "user" 或者"api".</td>
                            <td>当编辑器的选定文本更改时调用的回调。</td>
                        </tr>
                        <tr>
                            <td>onInit</td>
                            <td>event.editor: Quill 编辑器实例。<br>
                                event.oldRange: 具有索引和长度键的对象，指示先前选择的位置。<br>
                                event.source: 变更的来源. 可能是 "user" 或者"api".</td>
                            <td>初始化编辑器后调用的回调。</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p>有关详细信息，请参阅<a href="http://beta.quilljs.com/docs/api/#events">Quill 文档</a></p>

            <h5>方法</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>参数</th>
                            <th>说明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>getQuill</td>
                            <td>-</td>
                            <td>返回底层quill实例</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>模板</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>参数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>header</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>样式</h5>
            <p>以下是结构样式类列表，对于主题类，请访问<a href="#" [routerLink]="['/theming']">主题界面</a>.</p>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>说明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>p-editor-container</td>
                            <td>容器元素</td>
                        </tr>
                        <tr>
                            <td>p-editor-toolbar</td>
                            <td>编辑器工具栏</td>
                        </tr>
                        <tr>
                            <td>p-editor-content</td>
                            <td>可编辑区域</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>依赖项</h5>
            <p><a href="http://quilljs.com">Quill</a> Editor 1.0.</p>
            <p>需要将 quill 资源包添加到您的应用程序中。使用 CLI 的示例设置如下：</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
npm install quill --save
</app-code>
            <p>将 quill.js 添加到 angular.json 中</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
"scripts": [... "../node_modules/quill/dist/quill.js"],
</app-code>
            <p>将 Quill的 css 添加到 angular.json 中</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
"styles": [ ... "../node_modules/quill/dist/quill.core.css", "../node_modules/quill/dist/quill.snow.css"],
</app-code>

        </p-tabPanel>
        <p-tabPanel header="案例代码">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/editor" class="btn-viewsource" target="_blank">
                <span>GitHub中访问</span>
            </a>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;h5&gt;Default&lt;/h5&gt;
&lt;p-editor [(ngModel)]="text1" [style]="&#123;'height':'320px'&#125;"&gt;&lt;/p-editor&gt;
&lt;p&gt;Value: &#123;&#123;text1||'empty'&#125;&#125;&lt;/p&gt;

&lt;h5&gt;Custom Toolbar&lt;/h5&gt;
&lt;p-editor [(ngModel)]="text2" [style]="&#123;'height':'320px'&#125;"&gt;
    &lt;ng-template pTemplate="header"&gt;
        &lt;span class="ql-formats"&gt;
            &lt;button type="button" class="ql-bold" aria-label="Bold"&gt;&lt;/button&gt;
            &lt;button type="button" class="ql-italic" aria-label="Italic"&gt;&lt;/button&gt;
            &lt;button type="button" class="ql-underline" aria-label="Underline"&gt;&lt;/button&gt;
        &lt;/span&gt;
    &lt;/ng-template&gt;
&lt;/p-editor&gt;

</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
    templateUrl: './editordemo.html'
&#125;)
export class EditorDemo &#123;

    text1: string = '&lt;div&gt;Hello World!&lt;/div&gt;&lt;div&gt;PrimeNG &lt;b&gt;Editor&lt;/b&gt; Rocks&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;';

    text2: string;
&#125;
</app-code>
        </p-tabPanel>
    </p-tabView>
</div>
