<div class="content-section introduction">
    <div class="feature-intro">
        <h1>AutoFocus</h1>
        <p>AutoFocus管理可聚焦元素在加载时的焦点.</p>
    </div>
    <app-demoActions github="autofocus" stackblitz="autofocus-demo"></app-demoActions>
</div>

<div class="content-section implementation">
    <input type="text" pInputText pAutoFocus [autofocus]="true" placeholder="自动聚焦" />
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="文档">
            <h5>导入</h5>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;AutoFocusModule&#125; from 'primeng/autofocus';
</app-code>

            <h5>开始使用</h5>
            <p>在初始加载时，自动对焦应用于任何可对焦的输入元素。它默认是禁用的，需要手动启用.</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;input pAutoFocus [autofocus]="true" &gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class AutoFocusDemo &#123; &#125;
</app-code>

            <h5>属性</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>类型</th>
                            <th>默认值</th>
                            <th>描述</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>autofocus</td>
                            <td>boolean</td>
                            <td>null</td>
                            <td>当出现时，它指定组件应该自动获得焦点.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>事件</h5>
            <p>指令没有事件.</p>

            <h5>样式</h5>
            <p>指令不会对host应用任何样式.</p>

            <h5>依赖</h5>
            <p>无.</p>
        </p-tabPanel>

        <p-tabPanel header="案例代码">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/autofocus" class="btn-viewsource" target="_blank">
                <span>GitHub中访问</span>
            </a>
            <a href="https://stackblitz.com/edit/primeng-autofocus-demo" class="btn-viewsource" style="margin-left: .5em;" target="_blank">
                <span>StackBlitz中编辑</span>
            </a>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;input type="text" pInputText pAutoFocus [autofocus]="true" placeholder="自动聚焦" &gt;
</app-code>

        </p-tabPanel>
     </p-tabView>
</div>
