<div class="content-section documentation">
    <h1>开始</h1>
    <p>PrimeNG是一组丰富的开源原生Angular UI组件库。</p>

    <h5>视频教程</h5>
    <p>观看视频教程，了解本指南中所记录的步骤。</p>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pkOx7bSBQsg" frameborder="0" allowfullscreen></iframe>
    </div>

    <h5>下载</h5>
    <p>PrimeNG可用于npm中，如果你有一个现有的应用程序，运行以下命令将其下载到你的项目中。</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
npm install primeng --save
npm install primeicons --save
</app-code>

    <h5>导入</h5>
    <p>UI组件被配置为模块，一旦PrimeNG被下载和配置，模块和api就可以从你的应用程序代码中以<i>primeng/&#123;module&#125;</i>简写形式导入。每个组件的文档都写明了导入路径。</p>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;AccordionModule&#125; from 'primeng/accordion';     //手风琴和手风琴tab
import &#123;MenuItem&#125; from 'primeng/api';                  //api
</app-code>

    <h5>样式表</h5>

    <p>css依赖如下，Prime的图标，你选择的主题和组件的结构css。</p>
    <p>在angular.json文件中找到 <i>styles</i> 数组并且添加如下内容:</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
...
"styles": [
    "node_modules/primeicons/primeicons.css",
    "node_modules/primeng/resources/themes/lara-light-blue/theme.css",
    "node_modules/primeng/resources/primeng.min.css",
    ...
]
</app-code>

    <h5>免费主题</h5>
<p>PrimeNG提供33个免费主题供选择。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
primeng/resources/themes/bootstrap4-light-blue/theme.css
primeng/resources/themes/bootstrap4-light-purple/theme.css
primeng/resources/themes/bootstrap4-dark-blue/theme.css
primeng/resources/themes/bootstrap4-dark-purple/theme.css
primeng/resources/themes/md-light-indigo/theme.css
primeng/resources/themes/md-light-deeppurple/theme.css
primeng/resources/themes/md-dark-indigo/theme.css
primeng/resources/themes/md-dark-deeppurple/theme.css
primeng/resources/themes/mdc-light-indigo/theme.css
primeng/resources/themes/mdc-light-deeppurple/theme.css
primeng/resources/themes/mdc-dark-indigo/theme.css
primeng/resources/themes/mdc-dark-deeppurple/theme.css
primeng/resources/themes/tailwind-light/theme.css
primeng/resources/themes/fluent-light/theme.css
primeng/resources/themes/lara-light-indigo/theme.css
primeng/resources/themes/lara-dark-indigo/theme.css
primeng/resources/themes/lara-light-purple/theme.css
primeng/resources/themes/lara-dark-purple/theme.css
primeng/resources/themes/lara-light-blue/theme.css
primeng/resources/themes/lara-dark-blue/theme.css
primeng/resources/themes/lara-light-teal/theme.css
primeng/resources/themes/lara-dark-teal/theme.css
primeng/resources/themes/saga-blue/theme.css
primeng/resources/themes/saga-green/theme.css
primeng/resources/themes/saga-orange/theme.css
primeng/resources/themes/saga-purple/theme.css
primeng/resources/themes/vela-blue/theme.css
primeng/resources/themes/vela-green/theme.css
primeng/resources/themes/vela-orange/theme.css
primeng/resources/themes/vela-purple/theme.css
primeng/resources/themes/arya-blue/theme.css
primeng/resources/themes/arya-green/theme.css
primeng/resources/themes/arya-orange/theme.css
primeng/resources/themes/arya-purple/theme.css
primeng/resources/themes/nova/theme.css
primeng/resources/themes/nova-alt/theme.css
primeng/resources/themes/nova-accent/theme.css
primeng/resources/themes/luna-amber/theme.css
primeng/resources/themes/luna-blue/theme.css
primeng/resources/themes/luna-green/theme.css
primeng/resources/themes/luna-pink/theme.css
primeng/resources/themes/rhea/theme.css
</app-code>

    <h5>依赖项</h5>
    <p>大多数PrimeNG组件(95%)是原生的，也有一些例外具有第三方依赖。此外，组件需要<a href="https://www.npmjs.com/package/primeicons">PrimeIcons</a>作为图标</p>

    <div class="doc-tablewrapper">
        <table class="doc-table">
            <thead>
                <tr>
                    <th>组件</th>
                    <th>依赖</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>FullCalendar</td>
                    <td>FullCalendar 5.11.0</td>
                </tr>
                <tr>
                    <td>Editor</td>
                    <td>Quill Editor</td>
                </tr>
                <tr>
                    <td>GMap</td>
                    <td>Google Maps</td>
                </tr>
                <tr>
                    <td>Charts</td>
                    <td>Charts.js 3.3.2+</td>
                </tr>
                <tr>
                    <td>Captcha</td>
                    <td>Google Recaptcha</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h5>涟漪</h5>
    <p>涟漪是受支持组件(如按钮)的可选动画。它在默认情况下是禁用的，需要在你的主组件中全局启用，例如 app.component.ts中通过注入
        <i>PrimeNGConfig</i>使用</p>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123; PrimeNGConfig &#125; from 'primeng/api';

@Component(&#123;
    selector: 'app-root',
    templateUrl: './app.component.html'
&#125;)
export class AppComponent implements OnInit &#123;

    constructor(private primengConfig: PrimeNGConfig) &#123;&#125;

    ngOnInit() &#123;
        this.primengConfig.ripple = true;
    &#125;

&#125;
</app-code>

    <h5>动画</h5>
    <p>各种组件利用angular动画来改善用户体验，从angular 4开始，动画有自己的模块，所以你需要将<i>BrowserAnimationsModule</i>导入到你的应用中。如果你喜欢全局禁用动画，导入<i>NoopAnimationsModule</i>代替它。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
npm install @angular/animations --save
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;BrowserModule&#125; from '@angular/platform-browser';
import &#123;BrowserAnimationsModule&#125; from '@angular/platform-browser/animations';

@NgModule(&#123;
    imports: [
        BrowserModule,
        BrowserAnimationsModule,
        //...
    ],
    //...
&#125;)
export class YourAppModule &#123; &#125;
</app-code>

    <h5>Angular CLI 集成</h5>
    <p>Angular CLI是Angular的官方CLI工具。我们强烈建议在启动Angular项目时使用Angular CLI。</p>

    <h6>依赖项</h6>
    <p>添加primeng和primeicons作为依赖项。</p>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
"dependencies": &#123;
    //...
    "primeng": "^14.0.0-rc.1",
    "primeicons": "^5.0.0"
&#125;,
</app-code>

    <h6>样式配置</h6>
    <p>在样式部分配置所需的样式，下面的例子使用Saga Blue主题。</p>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
"styles": [
  "node_modules/primeng/resources/themes/lara-light-blue/theme.css",
  "node_modules/primeng/resources/primeng.min.css",
  "node_modules/primeicons/primeicons.css",
  //...
],
</app-code>

    <p>就是这样，您现在可以导入 PrimeNG 组件，有关工作示例，请访问 GitHub 上的 <a href="https://github.com/primefaces/primeng-quickstart-cli">PrimeNG CLI 快速入门</a>示例</p>

    <h6>浏览器支持</h6>
    <div class="doc-tablewrapper">
        <table class="doc-table browsers">
            <thead>
                <tr>
                    <th>
                        <div class="flex align-items-center">
                            <img src="assets/showcase/images/browsers/edge.svg" alt="edge" style="width: 1.5rem;" class="mr-2">
                            IE / Edge
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            <img src="assets/showcase/images/browsers/firefox.svg" alt="firefox" style="width: 1.5rem;" class="mr-2">
                            Firefox
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            <img src="assets/showcase/images/browsers/chrome.svg" alt="chrome" style="width: 1.5rem;" class="mr-2">
                            Chrome
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            <img src="assets/showcase/images/browsers/safari.svg" alt="safari" style="width: 1.5rem;" class="mr-2">
                            Safari
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            <img src="assets/showcase/images/browsers/opera.svg" alt="opera" style="width: 1.5rem;" class="mr-2">
                            Opera
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>IE11, Edge</td>
                    <td>最近的2个版本</td>
                    <td>最近的2个版本</td>
                    <td>最近的2个版本</td>
                    <td>最近的2个版本</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
