<div class="content-section introduction">
    <div class="feature-intro">
        <h1>Icons</h1>
        <p>PrimeNG 组件内部使用<a href="https://github.com/primefaces/primeicons">PrimeIcons</a> 库，这是 <a href="https://www.primetek.com.tr">PrimeTek</a>的官方图标套件。</p>
    </div>
</div>

<div class="content-section documentation">
    <h5>下载</h5>
    <p>PrimeIcons 在 npm 上可用，运行以​​下命令将其下载到您的项目中。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
npm install primeicons --save
</app-code>

    <h5>入门</h5>
    <p>PrimeIcons 使用 <strong>pi pi-&#123;icon&#125;</strong> 语法， 例如 <strong>pi pi-check</strong>.
        可以使用<i>i</i> 或者<i>span</i>等元素显示独立图标 </p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;i class="pi pi-check"&gt;&lt;/i&gt;
&lt;i class="pi pi-times"&gt;&lt;/i&gt;
</app-code>

<i class="pi pi-check mr-2"></i>
<i class="pi pi-times"></i>

    <h5>尺寸</h5>
    <p>使用 font-size 属性可以轻松更改图标的大小。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;i class="pi pi-check"&gt;&lt;/i&gt;
</app-code>

    <i class="pi pi-check"></i>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;i class="pi pi-check" style="font-size: 2rem"&gt;&lt;/i&gt;
</app-code>

    <i class="pi pi-check" style="font-size: 2rem"></i>

    <h5>旋转动画</h5>
    <p>特殊的 pi-spin 类对图标应用无限旋转。</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;i class="pi pi-spin pi-spinner" style="font-size: 2rem"&gt;&lt;/i&gt;
</app-code>

    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>

    <h5>常量</h5>
    <p> PrimeIcons提供常量 API 以轻松使用typescript选择图标，例如在定义菜单模型时。</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-menu [model]="items"&gt;&lt;/p-menu&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;MenuItem, PrimeIcons&#125; from 'primeng/api';

export class MenuDemo &#123;

    private items: MenuItem[];

    ngOnInit() &#123;
        this.items = [&#123;
            label: 'File',
            items: [
                &#123;label: 'New', icon: PrimeIcons.PLUS&#125;,
                &#123;label: 'Open', icon: PrimeIcons.DOWNLOAD&#125;
            ]
        &#125;,
        &#123;
            label: 'Edit',
            items: [
                &#123;label: 'Undo', icon: PrimeIcons.REFRESH&#125;,
                &#123;label: 'Redo', icon: PrimeIcons.REPEAT&#125;
            ]
        &#125;];
    &#125;
&#125;
</app-code>

    <h5>图标列表</h5>
    <p>这是当前的 PrimeIcons 列表，更多图标将定期添加。 您还可以在问题跟踪器中 <a href="https://github.com/primefaces/primeicons/issues">请求新图标</a></p>
    <div>
        <input class="icon-filter" (input)="onFilter($event)" pInputText placeholder="搜索图标">
    </div>

    <div class="grid icons-list">
        <div class="col-12 sm:col-6 md:col-4 lg:col-2 mb-4" *ngFor="let icon of filteredIcons">
            <i class="pi pi-{{icon.properties.name}}"></i>
            <div>pi-{{icon.properties.name}}</div>
        </div>
    </div>
</div>
